@model RiskOfRain.Web.ViewsModels.MonstreIndexViewModel

@{
    ViewData["Title"] = Model.pageTitle;
}

<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom du Monstre</th>
            <th scope="col">PV du Monstre</th>
            <th scope="col">Image: </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Monstres) {
            <tr>
                <td>
                    @item.NomMonstre
                </td>
                <td>
                    @item.HpMonstre
                </td>
                <td>
                    <img style="height: 100px; width: 100px;" src="@item.ImageUrl" alt="..." class="img-thumbnail">
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

